@import url('animation.css');


/* font from: https://noonnu.cc/font_page/694 */
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Bold';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

a.selected {
    font-family: 'Pretendard-Bold';
}

body {
    font-family: 'Pretendard-Regular';
    background-color: #f0f6f7;
}

body, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
h1, h2, h3, h4, h5, h6, strong {
    font-family: 'Pretendard-Bold';
    font-weight: normal;
}

header {
    padding-left: 1rem;
    padding-right: 1rem;

    display: flex;
    flex-direction: row;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 1.2rem;

    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.46);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13.3px);
    -webkit-backdrop-filter: blur(13.3px);

    animation: fadein 1s ease 0s both;

    z-index: 1000;
}

header a {
    background: none;
    color: black;
    text-decoration: none;
    border: none;
    box-sizing: border-box;
    padding: 1rem;
    margin: 0.3rem;
    font-size: 1.3rem;
}

.fullscreen-box {
    width: 100vw;
    height: 100vh;
    background-color: #f0f6f7;
}

#profile-img {
    width: 14rem;
    height: 14rem;
    border-radius: 19px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    animation: fadein 1s ease 0.2s both;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.profile-box {
    gap: 4.5rem;
}

#simple-introduce {
    animation: fadein 1s ease 0.4s both;
    gap: 0.54rem;
}

#simple-introduce h1 {
    margin-bottom: 0.83rem;
}

#simple-introduce p {
    width: 22rem;
    word-wrap: break-word;
    font-size: 1.1rem;
}

#link-box {
    margin: 1rem;
    gap: 1rem;

    animation: fadein 1s ease 0.2s both;
}

#link-box img {
    height: 1.08rem;
}

.main-box {
    position: relative;
}

#down {
    position: absolute;
    left: 50%;
    bottom: 3rem;
    height: 1.3rem;
    transform: translateX(-50%);
}

.second-box {
    display: flex;
    flex-direction: column;
    background-color: #f0f6f7;
    width: 100vw;
}

.explain-box {
    display: flex;
    flex-direction: row;
    gap: 13rem;
    align-items: center;
    justify-content: center;
}
.explain-box > img {
    height: 20rem;
    box-sizing: border-box;
    padding: 0.7rem;
    transform: rotate(-3deg);
    
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(9.3px);
    -webkit-backdrop-filter: blur(9.3px);
}
.explain-box > div {
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    gap: 0.7rem;
    width: 20rem;
    /* font-family: 'Pretendard-Bold'; */
}
.reversed {
    flex-direction: row-reverse;
}
.reversed > img {
    transform: rotate(2deg);
}
.reversed > div {
    text-align: end;
}