@keyframes fadein {
    from {
        transform: translateY(1.7rem) scale(0.93);
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

* {
    /* transition: padding 0.4s ease, margin 0.4s ease, width 0.4s ease; */
    transition: all 0.4s ease;
}

/* ---------------------- */

/* font from: https://noonnu.cc/font_page/694 */
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Bold';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}


/* font from: https://noonnu.cc/font_page/419 */
@font-face {
    font-family: 'KyoboHand';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

a.selected {
    font-family: 'Pretendard-Bold';
}

body {
    font-family: 'Pretendard-Regular';
    background-color: #f0f6f7;
}

body, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
h1, h2, h3, h4, h5, h6, strong {
    font-family: 'Pretendard-Bold';
    font-weight: normal;
}

header {
    padding-left: 1rem;
    padding-right: 1rem;

    display: flex;
    flex-direction: row;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 1.2rem;

    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.75);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13.3px);
    -webkit-backdrop-filter: blur(13.3px);

    animation: fadein 1s ease 0s both;

    z-index: 1000;
}

header a {
    background: none;
    color: black;
    text-decoration: none;
    border: none;
    box-sizing: border-box;
    padding: 1rem;
    margin: 0.3rem;
    font-size: 1.3rem;
}

.fullscreen-box {
    width: 100vw;
    height: 100vh;
    background-color: #f0f6f7;
}

#profile-img {
    width: 14rem;
    height: 14rem;
    border-radius: 19px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    animation: fadein 1s ease 0.2s both;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.profile-box {
    gap: 4.5rem;
}

#simple-introduce {
    animation: fadein 1s ease 0.4s both;
    gap: 0.54rem;
}

#simple-introduce h1 {
    margin-bottom: 0.83rem;
}

#simple-introduce p {
    width: 22rem;
    word-wrap: break-word;
    font-size: 1.1rem;
}

#link-box {
    margin: 1rem;
    gap: 1rem;

    animation: fadein 1s ease 0.2s both;
}

#link-box img {
    height: 1.08rem;
}

.main-box {
    position: relative;
}

#down {
    position: absolute;
    left: 50%;
    bottom: 3rem;
    height: 1.3rem;
    transform: translateX(-50%);
}

.second-box {
    display: flex;
    flex-direction: column;
    background-color: #f0f6f7;
    width: 100vw;
    margin-bottom: 5rem;
    margin-top: 4rem;
}

.explain-box {
    display: flex;
    flex-direction: row;
    gap: 13rem;
    align-items: center;
    justify-content: center;
}
.explain-box > img {
    height: 20rem;
    box-sizing: border-box;
    padding: 0.7rem;
    transform: rotate(-3deg);
    
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(9.3px);
    -webkit-backdrop-filter: blur(9.3px);
}
.explain-box > div {
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    gap: 0.7rem;
    width: 20rem;
    /* font-family: 'Pretendard-Bold'; */
    font-family: 'KyoboHand';
}
.reversed {
    flex-direction: row-reverse;
}
.reversed > img {
    transform: rotate(2deg);
}
.reversed > div {
    text-align: end;
}

@media (max-width: 1020px) {
    .explain-box {
        gap: 9rem;
    }
    .explain-box > img {
        height: 17rem;
    }
}

@media (max-width: 830px) {
    .explain-box {
        gap: 3rem;
    }
    .explain-box > img {
        height: 16rem;
    }
}

@media (max-width: 750px) {
    #profile-img {
        width: 12rem;
        height: 12rem;
    }
    #simple-introduce {
        gap: 0.43rem;
    }
    #simple-introduce h1 {
        font-size: 1.8rem;
    }
    #simple-introduce p {
        font-size: 1rem;
        width: 20rem;
    }

    .explain-box {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    .explain-box p {
        text-align: center;
    }
    .second-box {
        gap: 3rem;
    }
}

@media (max-width: 630px) {
    .profile-box {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
}

/* --------------------------------- */

.top-margin {
    height: 14rem;
    /* background-color: red; */
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

hr {
    width: 90%;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

footer {
    margin-top: 5rem;
    height: 10rem;
    width: 100%;
    background-color: red;
}

.grid-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    max-width: 90rem;
}

.project-box {
    box-sizing: border-box;
    padding-left: 8rem;
    padding-right: 8rem;
    padding-top: 5rem;
    gap: 2rem;

    animation: fadein 1s ease 0.15s both;
}
.project-item {
    box-sizing: border-box;
    height: 18rem;
    /* From https://css.glass */
    background: rgba(245, 245, 245, 0.46);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.3px);
    -webkit-backdrop-filter: blur(9.3px);

    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    min-width: 22rem;
}
.project-item img {
    height: 12rem;
    object-fit: contain;
}
.project-item a img {
    height: 0.78rem !important;
    margin-left: 0.11rem;
}

li img {
    height: 1.1rem;
    vertical-align: bottom;
    padding-right: 0.3rem;
}
ul {
    padding: 0;
    margin-top: 3rem;
}
li {
    list-style-type: none;

    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.46);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.3px);
    -webkit-backdrop-filter: blur(9.3px);

    padding: 1rem;

    margin-bottom: 1rem;
}
.bigger-image {
    transform: scale(1.5);
    padding-left: 0.1rem;
    padding-right: 0.5rem;
}

li:nth-child(1) {
    animation: fadein 1s ease 0.3s both;
}
li:nth-child(2) {
    animation: fadein 1s ease 0.5s both;
}
li:nth-child(3) {
    animation: fadein 1s ease 0.7s both;
}
li:nth-child(4) {
    animation: fadein 1s ease 0.9s both;
}
li:nth-child(5) {
    animation: fadein 1s ease 1.1s both;
}
li:nth-child(6) {
    animation: fadein 1s ease 1.3s both;
}

.tech-stack {
    display: flex;
    flex-direction: row;
    gap: 0.4rem;
}
.tech-stack > div {
    padding-left: 0.52rem;
    padding-right: 0.52rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;

    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.46);
    border-radius: 16px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(9.3px);
    -webkit-backdrop-filter: blur(9.3px);
}

.competition-box {
    margin-left: 1rem;
    margin-right: 1rem;
}

@media (max-width: 1420px) {
    .project-box {
        grid-template-columns: 1fr 1fr;
        max-width: 60rem;
        padding-left: 5rem;
        padding-right: 5rem;
        gap: 1.7rem;
    }
    .project-item {
        min-width: 20rem;
    }
}
@media (max-width: 840px) {
    .project-box {
        grid-template-columns: 1fr;
        max-width: 37rem;
        padding-left: 6rem;
        padding-right: 6rem;
        gap: 1.4rem;
    }
    .project-item {
        min-width: 19rem;
    }
}
@media (max-width: 600px) {
    .project-box {
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .tech-stack {
        font-size: 0.95rem;
    }

    li {
        font-size: 0.9rem;
    }
    li img {
        height: 1rem;
    }
}
@media (max-width: 450px) {
    .project-item {
        height: 16rem;
        min-width: 17.3rem;
    }
    .project-item img {
        height: 10rem;
    }
    .tech-stack {
        font-size: 0.85rem;
    }
    li img {
        height: 0.9rem;
    }
}
@media (max-width: 400px) {
    .project-box {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}